body {
  font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* header */
.navbar {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container h1 a {
    background-image: url(../images/logo_w@svg.svg);
    width: 120px;
    height: 24px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 1rem;
}
.nav-menu {
    display: flex;
    margin-right: 1rem;
}
.nav-menu li a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border-bottom: 3px solid transparent;
}
.nav-menu li a:hover {
    border-bottom: 3px solid white;
}
.hamburger-menu {
    color: white;
    font-size: 24px;
    display: none;
}
@media (max-width:569px) {
    .hamburger-menu {
        display: block;
        padding: 1rem;
    }
    .nav-menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 68px;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        /* 先隱藏 */
        max-height: 0px;
        overflow: hidden;
        /* 點擊再展開 */
        transition: max-height 1s;
    }
    .nav-menu li a {
        padding: 1rem 1rem;
        text-align: center;
        transition: all 0.5s;
        border-bottom: 2px dashed white;
    }
    .nav-menu li a:hover {
        background-color: white;
        color: #000;
    }
    .show-menu .nav-menu{
        max-height: 500px;
    }
}
.banner {
    background-image: url(../images/header_desktop.png);
    background-size: cover;
    background-position: center;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2rem;
}
.banner-text h2 {
    font-size: 40px;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}
.banner-text p {
    color: white;
}

/* footer */
footer {
    background-color: #efe9e7;
}
.footer-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 50px;
}
.footer-text {
    width: 65%;
    display: flex;
    justify-content: flex-start;
    color: #3d1101;
}
.footer-text h4 {
    font-size: 25px;
    margin-bottom: 1rem;
}
.footer-text .about, 
.footer-text .contact {
    width: 50%;
    margin-right: 1rem;
}
.footer-text ul {
    list-style-type: disc;
    list-style-position: inside;
}
.footer-text ul li a {
    text-decoration: none;
    color: #3d1101;
    position: relative;
}
.footer-text ul li a::before {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #3d1101;
    transition: all 1s ease;
}
.footer-text ul li a:hover::before {
    width: 100%;
}
.footer-media {
    width: 35%;
}
.footer-media h3 {
    background-image: url(../images/logo_l@svg.svg);
    width: 243px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 100px;
    margin: 0 0 100px auto;
}

.media-list {
    display: flex;
    justify-content: flex-end;
}
.media-list li a {
    font-size: 40px;
    margin-left: 1rem;
}
.google-icon {
    color: #db4437;
}
.twitter-icon {
    color: #41abe1;
}
.facebook-icon {
    color: #3a5795;
}
@media (max-width: 767px) {
    .footer-container {
        flex-direction: column;
    }
    .footer-text {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .footer-text .about, 
    .footer-text .contact {
        width: 70%;
        margin: 0 auto 2rem;
    }
    .footer-media {
        width: 80%;
        margin: 0 auto;
    }
    .footer-media h3 {
        margin: 0 0 50px auto;
    }
}
